
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1469571486292-0ba58a3f068b?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-attachment: fixed;
  padding: 20px;
}

.formContainer {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(16px);
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  max-width: 420px;
  width: 100%;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: #141514;
  margin-bottom: 25px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.95rem;
  font-weight: 600;
  margin-bottom: 6px;
  color: #4a5568;
}

.input {
  padding: 12px 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
  background-color: #fff;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input:focus {
  border-color: #2e8b57;
  box-shadow: 0 0 0 3px rgba(46, 139, 87, 0.2);
  outline: none;
}

.inputError {
  border-color: #e53e3e;
  background-color: #fff5f5;
}

.errorMessage {
  font-size: 0.85rem;
  color: #e53e3e;
  margin-top: 5px;
}

.generalError {
  text-align: center;
  margin-top: 15px;
}

.submitBtn {
  padding: 12px;
  background: linear-gradient(to right, #161752, #161752);
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.submitBtn:hover {
  background: linear-gradient(to right, #0d0f0e, #0d0f0e);
  transform: translateY(-2px);
}


.signupLink {
  text-align: center;
  margin-top: 20px;
  font-size: 0.95rem;
}

.link {
  color: #2e8b57;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

.link:hover {
  color: #3cb371;
}
